*{
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
	}
	body{
		background: #f6fbff;
	}
	#corpo{
		margin-top: 64px;
		
	}
	#container{
		max-width: 149vh !important;
	}
	.container`{
		max-width: 149vh !important; 
	}
	.dash{
		
		overflow: auto;
	}
	.dash-title{
		position: fixed;
	}
	.row table{
		overflow: auto;
	}
	.div-dash{
		padding: 1em;
	}
	.painel{
		padding: 20px;
	}
	.ml-15{
		margin-left: 15px !important;
	}
	.font-weight-400{
		font-weight: 400 !important;
	}
	.font-size-40{
		font-size: 40px !important;
	}
	.font-weight-100{
		font-weight: 100 !important;
	}



.form-group input[type='text']{
	height: auto;
}
.btn[type='submit']{

	padding: 0;
	border-style: none;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid 
	border: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 0;



}

.btn-block {

	display: block;
	width: 100%;
}

button[type="submit"]{
	background-color: #375e6b;
	border-color: #063440;
	color: #FFF;
}
button[type="submit"]:active{
	background-color: #063440;
	border-color: #375e6b;
}

.btn:not(:disabled):not(.disabled) {

	cursor: pointer;

}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

footer{
	color: #999999;
	border-top: 1px solid #333333;
	overflow: hidden;
	position: relative;
	max-width: 190vh;
	margin: 5px auto;
	padding-top: 18px;
	padding-bottom: 5px;
	content: "";
	clear: both;


}